# Ignore odt file
*.odt

# Ignore VGG weight file
conv_feature_extraction/*.h5

# Ignore Sample data
image_generator/sample

# Ignore pyache file
image_pre_analyzed/__pyache__

# Ignore xml file
../.idea/*.xml
../.idea/*.iml

# Ignore pyc file
__pycache__/*.pyc


